/* ================================= */
/*               RESETS              */
/* ================================= */
@tailwind base;
@layer base {
  html {
    box-sizing: border-box;
    font-size: 50%;
    text-rendering: optimizeSpeed;
    @media (min-width: 45em) {
      font-size: 56.25%;
    }
    @media (min-width: 75em) {
      font-size: 62.5%;
    }
    @media (min-width: 112.5em) {
      font-size: 75%;
    }
  }

  html,
  html:focus-within {
    scroll-behavior: smooth;
  }

  *,
  *::before,
  *::after {
    margin: 0;
    padding: 0;
    font: inherit;
    box-sizing: inherit;
  }

  body {
    min-height: 100vh;
    font-size: 1.6rem;
    line-height: 1.5;
    text-rendering: optimizeSpeed;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    position: relative;
  }

  /*********** SCROLLBARS: DISABLED ************/
  html {
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE 10+ */
  }
  html::-webkit-scrollbar {
    width: 0px;
    background: transparent; /* Chrome/Safari/Webkit */
  }

  /* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
  ul[role='list'],
  ol[role='list'] {
    list-style: none;
  }

  /* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
  @media (prefers-reduced-motion: reduce) {
    html:focus-within {
      scroll-behavior: auto;
    }

    *,
    *::before,
    *::after {
      animation-duration: 0.01ms !important;
      animation-iteration-count: 1 !important;
      transition-duration: 0.01ms !important;
      scroll-behavior: auto !important;
    }
  }

  /* *********** TYPOGRAPHY  ************* */
  h1 {
    @apply text-primary-300 text-900 font-serif font-bold tracking-tightest leading-800;
  }
  h2 {
    @apply text-primary-300 text-800 font-serif font-bold tracking-tighter leading-700;
  }
  h3 {
    @apply text-primary-300 text-700 font-serif font-bold tracking-tighter leading-600;
  }

  .body-100 {
    @apply text-primary-300 text-500 font-sans font-normal leading-500;
  }
  .body-200 {
    @apply text-primary-300 text-500 font-sans font-normal leading-500;
  }

  :where(li a) {
    @apply text-300 font-sans font-normal no-underline uppercase;
  }
}

/* ================================= */
/*            COMPONENTS             */
/* ================================= */
@tailwind components;
@layer components {
  /* .btn {} */
  /* .link, navlink {} */

  .skip-to-content {
    @apply absolute mx-auto py-[1em] px-[0.5em]  text-neutral-100 bg-primary-300 z-[9999] translate-y-[-120%] transition-transform focus:translate-y-0 focus:outline-offset-2 focus:outline focus:outline-primary-300;
  }

  [aria-current='page'] {
    @apply text-primary-100;
  }
}

/* ================================= */
/*            UTILITIES              */
/* ================================= */
@tailwind utilities;
@layer utilities {
  :where(.flow > :not(:first-child)) {
    margin-block-start: var(--flow-space, 1.6rem);
  }
  .flow-space--small {
    --flow-space: 1rem;
  }

  .w-full-shadow {
    box-shadow: 0 0 0 100vmax var(--clr-shadow), 0 0 2rem var(--clr-shadow);
    clip-path: inset(0 -100vmax);
  }
}
